@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@1,200&display=swap'); 
@font-face{
    font-family:'FonteLogo';
    src: url("/Course/folders/_fonts/bubblegum-sans-regular.otf");
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-image:url();
    background-color:rgb(158, 158, 158);
    color:rgb(0, 0, 0);
   }
   div#interface{
    width: 1080px;
    background-color: rgb(255, 255, 255);
    margin: -20px auto -20px auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,.5);
    padding:10px;
   }
   p{
   text-align:justify;
   text-indent: 30px; 
   }
   a{
    color:#606060;
    text-decoration: none;
   }
   a:hover{
    text-decoration: underline;
   }
   img#icone{
    position: absolute;
    left: 1350px;
   }

   header#cabecalho{
      border-bottom: 1px rgb(0, 0, 0) solid;
      height: 150px;
      background-image: url("/Course/folders/_imagens/glass-logo-peq.jpg");
      background-repeat: no-repeat;
      background-position: 1px 80px;
   }
   header#cabecalho h1{
    font-family: 'FonteLogo', Helvetica, sans-serif;
    font-size: 30pt;
    color:gray;
    text-shadow:1px 1px 1px rgba(0,0,0,.6);
    padding:0px;
    margin-bottom: 0px;
   }
   header#cabecalho h2{
    font-family: 'Titillium Web', sans-serif;
    color: #888888;
    font-size: 15pt;
    padding:0px;
    margin-top:0px;
   }
   /* Formatação de imagens com legendas*/

   figure.foto-legenda{
       position:relative;
       border:8px solid rgb(255, 255, 255);
       box-shadow: 1px 1px 4px black;
   }
   figure.foto-legenda img {
     width: 100%;
     height: 100%;
   }
   figure.foto-legenda figcaption{
    opacity: 0%;
    position:absolute;
    top:0px;
    background-color: rgba(0,0,0,0.4);
    color:white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 3s;
   }
   figure.foto-legenda:hover figcaption{
    opacity: 1;
   }
   /* formatação do menu*/
   nav#menu{
       display: block ;
   }
   nav#menu ul {
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    left: 800px;
   }
   nav#menu li{
       display: inline-block;
       background-color: #dddddd;
       padding: 10px;
       margin: 2px;
       transition: background-color 1s;
   }
   nav#menu li:hover{
    background-color: #606060;
   }
   nav#menu h1 {
    display: none;
   }
   nav#menu a {
    color:black;
    text-decoration: none;
   }

   nav#menu a:hover {
    color:white;
    text-decoration: underline;
   }
   section#corpo {
   display: block;
    width: 650px;
    float: left;
    border-right: 1px solid black;
    padding-right: 20px;
   }
   article#noticia-principal h2 {
     font-size: 12pt;
     color: #606060;
     background-color: #dddddd ;
     padding: 5px 0px 5px 10px;
     margin: 10px 0px 10px 0px;
   }
   header#cabecalho-artigo h1 {
    margin-top: 0px;
     font-family: 'FonteLogo',sans-serif;
     font-size:20pt;
     color: #606060;
     margin-bottom:0px ;
    }
    .direita{
       text-align: right; 
    }
   header#cabecalho-artigo h2 {
     font-size: 13pt;
     color:#cecece;
     background-color: #ffffff;
     margin: 0px;

   }
   header#cabecalho-artigo h3 {
     font-size: 12px;
     color: #606060;
   }

   table#tabelaspec{
    border: 1px solid rgb(77, 77, 77);
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
   }
   
   table#tabelaspec td{
    border: 1px solid rgb(77, 77, 77);
    padding:10px;
   }
   table#tabelaspec td.esquerda{
    text-align: right;
    vertical-align: top;
    color: white;
    background-color: #606060;
    font-weight: bolder;
   }
   table#tabelaspec td.direita{
    background-color: #eaeaea;
   }
   table#tabelaspec caption{
    color:#9c9c9c;
    font-size: 13pt;
    font-weight: bolder;
   }
   table#tabelaspec caption span{
    display: block;
    float: right;
    color:#000000;
    font-size: 8pt;
    margin-top: 10px;
   }
   aside#lateral{
    display: block;
    width: 350px;
    float:right;
    background-color: #dddddd;
    padding:10px;
    margin-top: 10px;
    box-shadow: 2px 2px 2px rgba(0,0,0,.5);
   }
   aside#lateral h1{
    font-family: 'FonteLogo',sans-serif;
    font-size: 20pt;
    color: #606060; 
   }
   aside#lateral h2{
   background-color: #606060;
   font-size: 15pt;
   color: #ffffff;
   pad: 5px;
   }
   footer#rodape{
    border-top: 1px solid black;
    clear:both;
   }
   footer#rodape p{
    text-align: center;
   }
  